html {
  height: 100vh; /* <------------ */
}
body{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
}

ul {
  margin-top: 43px;
  font-size: 19px;
  font-style: italic;
}
li {
  margin: 17px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
