.parent {
    /* display: inline-block; */
    margin-left: 58px;
}
input.child_div1 {
    width: 63%;
    height: 41px;
    padding-left: 10px;
    font-size: 17px;
}
.date {
    height: 44px;
    width: 10%;
    padding-left: 15px;
}
button.child_div2 {
    width: 10%;
    height: 36px;
    margin-right: 24px;
    margin-top: 21px;
    color: white;
    background-color:#DB4C3F;
    font-size: 20px;
}

